apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: employee-api-pvc
  namespace: 25RP18224-nzayisenga
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
